<div>
    <h1>Detalle de Carrito</h1>
    <table id="productsTable">
        <thead>
            <tr>
                <th><strong>Producto</strong></th>
                <th><strong>Descripción</strong></th>
                <th><strong>Código</strong></th>
                <th><strong>Precio</strong></th>
                <th><strong>Stock</strong></th>
                <th><strong>Categoría</strong></th>
                <th><strong>Miniatura</strong></th>
            </tr>
        </thead>
        <tbody>
            {{#each cartById.products}}
            <tr>
                <td>{{this.id.title}}</td>
                <td>{{this.id.description}}</td>
                <td>{{this.id.code}}</td>
                <td>{{this.id.price}}</td>
                <td>{{this.id.stock}}</td>
                <td>{{this.id.category}}</td>
                <td>{{this.id.thumbnail}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>

    <div>
        <a href="/api/products?page=1">Inicio</a>
    </div>
</div>