<div>
    <br>
    First Name: {{userToRender.first_name}}
    <br>
    Last Name: {{userToRender.last_name}}
    <br>
    Email: {{userToRender.email}}
    <br>
    Age: {{userToRender.age}}
    <br>
    Role: {{userToRender.role}}
</div>